@using System.Security.Claims;
@if (User.Identity.IsAuthenticated)
{
	@await Component.InvokeAsync("Cart")
	<div class="btn-group ms-4 nav-color">
		<button class="btn btn-secondary btn-sm dropdown-toggle"
				type="button" id="dropdownMenuButton"
				data-bs-toggle="dropdown"
				aria-expanded="false">
			@User.Claims.FirstOrDefault(c => c.Type.Equals("Name", StringComparison.OrdinalIgnoreCase))?.Value
			<img src="images/default-profile-picture.png" width="20"
				 alt="User" class="rounded nav-color" />
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<li>
				<span class="dropdown-item-text">
					<img src="images/default-profile-picture.png"
						 width="50" alt="User" class="rounded" />
					@User.Identity?.Name
				</span>
			</li>
			<li><hr class="dropdown-divider"></li>
			<li><hr class="dropdown-divider"></li>
			<li>
				<form id="logoutForm" class="form-inline"
					  asp-area="Identity"
					  asp-route-returnurl="/"
					  asp-page="/Account/Logout">
					<button id="logout" type="submit" class="nav-link btn btn-link text-dark">
						Logout
					</button>
				</form>
			</li>
		</ul>
	</div>
}
else {
	<div class="navbar-nav ms-auto">
		<a asp-area="Identity"
		   asp-page="/Account/Login"
		   class="nav-item nav-link">
			Login
		</a>
	</div>
}