@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Pustovoy.UI.styles.css" asp-append-
		  version="true" />
</head>
<body>
	<header>
		<div class="container">
			<!-- Панель навигации -->
			<nav class="navbar navbar-expand-md navbar-dark bg-dark">
				<!-- меню сайта -->
				<a class="navbar-brand" href="#">Pustovoy</a>
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="#">Лб 1</a>
					<a class="nav-item nav-link" href="#">Каталог</a>
					<a class="nav-item nav-link" href="#">Администрирование</a>
				</div>
				<!-- меню сайта - конец -->
				<!-- Информация пользователя -->
				<a href="#" class="navbar-text ms-auto">
					00,0 руб <i class="fa-solid fa-cart-shopping"></i> (0)
				</a>
				<div class="dropdown ms-4 nav-color">
					<button class="btn btn-secondary dropdown-toggle"
							type="button" id="dropdownMenuButton"
							data-bs-toggle="dropdown"
							aria-expanded="false">
						User@gmail.com
						<img src="images/default-profile-picture.png" width="30"
							 alt="User" class="rounded nav-color" />
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<li>
							<span class="dropdown-item-text">
								<img src="images/default-profile-picture.png"
									 width="50" alt="User" class="rounded" />
								user@gmail.com
							</span>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<form id="logoutForm" class="form-inline" action="#">
								<button id="logout" type="submit" class="nav-link
btn btn-link text-dark">
									Logout
								</button>
							</form>
						</li>
					</ul>
				</div>
				<!-- Информация пользователя - конец -->
			</nav> <!-- Панель навигации - конец -->
		</div><!-- container - конец -->
	</header><!-- header - конец -->

	<main class="container">
		<h2>Лабораторная работа 1</h2>
		<h3>Список</h3>
		<ol type="A">
			@for (int i = 1; i < 6; i++)
			{
				<li>элемент @i списка</li>
			}
		</ol>
		<hr />
		<h3>Форма</h3>
		<form method="post">
			<div class="form-group row">
				<div class="col-sm-2"></div>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="gridCheck1" name="check-1">
						<label class="form-check-label" for="gridCheck1">
							Чек-бокс 1
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="gridCheck2" name="check-2">
						<label class="form-check-label" for="gridCheck2">
							Чек-бокс 2
						</label>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2"></div>
				<div class="col-sm-10">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
						<label class="form-check-label" for="gridRadios1">
							Радио-1
						</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
						<label class="form-check-label" for="gridRadios2">
							Радио-2
						</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
						<label class="form-check-label" for="gridRadios3">
							Радио-3
						</label>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="inputLogin" class="col-sm-2 col-form-label">Логин:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputLogin" name="login" placeholder="Введите логин">
				</div>
			</div>

			<div class="form-group row">
				<label for="inputPassword3" class="col-sm-2 col-form-label">Пароль:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="password" id="inputPassword3" placeholder="Введите пароль">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Отправить</button>
		</form>
	</main>

	<footer>
		<div class="container">
			<div class="navbar navbar-dark navbar-expand-md bg-dark">
				<div class="navbar-nav ms-auto">
					<a class="nav-item nav-link" href="http://www.facebook.com">
						<i class="fa-brands fa-facebook-f fa-2x"></i>
					</a>
					<a class="nav-item nav-link" href="http://www.vk.com">
						<i class="fa-brands fa-vk fa-2x"></i>
					</a>
					<a class="nav-item nav-link" href="http://www.twitter.com">
						<i class="fa-brands fa-twitter fa-2x"></i>
					</a>
				</div>
			</div>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>